body {
    display: block;
    margin: 0;
}

div {
    align-content: center;
}

.topnav {
    background-color: #3663BD;
    overflow: hidden;
    /*Отображается только область внутри элемента, остальное будет скрыто.*/
    height: 100px;
    text-align: center;
}

@media (min-width: 300px) {
    .topnav {
        height: 80px;
    }
}

@media (min-width: 1100px) {
    .topnav {
        height: 65px;
    }
}

@media (min-width: 1400px) {
    .topnav {
        height: 50px;
    }
}

/*  Заголовки  */
h1 {
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    color: #3663BD;
}

@media (min-width: 300px) {
    h1 {
        flex: 0 0 auto;
        /*Свойство, достигающее способности гибкого элемента растягиваться или сжиматься для заполнения свободного пространства.*/
        font-size: 20px;
    }
}

@media (min-width: 1100px) {
    h1 {
        flex: 0 0 auto;
        font-size: 40px;
    }
}

h1-2 {
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    color: #3663BD;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    color: #3663BD;
}

/*  Адаптируем текст по размерам  */
@media (min-width: 300px) {
    h2 {
        flex: 0 0 auto;
        font-size: 15px;
    }
}

@media (min-width: 1100px) {
    h2 {
        flex: 0 0 auto;
        font-size: 40px;
    }
}

h3 {
    font-size: 15px;
    text-align: center;
    font-family: cursive;
    color: black;
}

/*  Адаптируем текст по размерам  */
@media (min-width: 300px) {
    h3 {
        /*  Свойство достигающее способности гибкого элемента растягиваться или сжиматься для заполнения доступного пространства  */
        flex: 0 0 auto;
        font-size: 10px;
    }
}

@media (min-width: 1100px) {
    h3 {
        flex: 0 0 auto;
        font-size: 15px;
    }
}

h4 {
    font-size: 80px;
    text-align: center;
    font-family: cursive;
    color: black;
}

@media (min-width: 300px) {
    h4 {
        flex: 0 0 auto;
        font-size: 25px;
    }
}

@media (min-width: 1100px) {
    h4 {
        flex: 0 0 auto;
        font-size: 80px;
    }
}

h5 {
    font-size: 25px;
    text-align: center;
    font-family: cursive;
    color: black;
}

h6 {
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    color: #ffffff;
    text-shadow: 3px 3px 3px #000;
    /*Добавляет тень к тексту, а также устанавливает её параметры: цвет тени, смещение относительно надписи и радиус размытия.*/
}

/*  Редактирование текста в блоке  */
.topnav a {
    text-align: center;
    color: #f2f2f2;
    text-align: center;
    margin-left: 50px;
    font-family: cursive;
    text-decoration: none;
    /*Добавляет оформление текста в виде его подчеркивания, перечеркивания, линии над текстом и мигания.*/
    font-size: 25px;
}

@media (min-width: 300px) {
    .topnav a {
        font-size: 20px;
        margin-left: 90px;
    }
}

@media (min-width: 1100px) {
    .topnav a {
        font-size: 25px;
        margin-left: 120px;
    }
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    /*Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое */
}

/* Поле ввода во всю ширину */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    /*Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое */
    margin: 14px -22px 10px -22px;
    /*Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента  */
    display: inline-block;
    /*Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно встроенному элементу. */
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
    /*Универсальное свойство, одновременно устанавливающее цвет, стиль и толщину внешней границы на всех четырех сторонах элемента.*/
}

hr {
    border: #f1f1f1 solid 1px;
    margin-bottom: 25px;
}

.text_na_kart {
    position: absolute;
    /*Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. */
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    color: #3663BD;
    text-transform: uppercase;
    /*Все символы текста становятся прописными (верхний регистр). */
}

.registerbtn {
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*Устанавливает форму курсора, когда он находится в пределах элемента*/
    width: 100%;
    opacity: 0.9;
    /*Определяет уровень прозрачности элемента веб-страницы.*/
}

.registerbtn:hover {
    opacity: 1;
    /*Определяет уровень прозрачности элемента веб-страницы.*/
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.topNubex {
    position: fixed;
    /*Привязывается к указанной свойствами left, top, right и bottom точке на экране и не меняет своего положения при прокрутке веб-страницы.*/
    right: 45px;
    bottom: 45px;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    color: white;
    text-decoration: none;
}

.open {
    width: 100%;
    height: 100%;
}

.open-2 {
    width: 50%;
    height: 130%;
}

.open-3 {
    width: 50%;
    height: 15%;
}

.open-4 {
    width: 80px;
    height: 80px;
}

@media (min-width: 300px) {
    .open-4 {
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1100px) {
    .open-4 {
        flex: 0 0 auto;
        width: 80px;
        height: 80px;
    }
}

.open-5 {
    width: 50%;
    height: 200%;
}

.slaid {
    width: 100%;
    height: 100%;
}

.slider {
    max-width: 90%;
    position: relative;
    /*Положение элемента устанавливается относительно его исходного места.*/
    margin: auto;
    height: 200px;
    margin-bottom: 15px;
}

/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    /*Определяет содежимое заменяемого элемента такое как или должно заполнять контейнер относительно его концетрации и обнануживаться */
    width: 510px;
    height: 200px;
    position: relative;
    border: none !important;
    /*Универсальное свойство border позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента*/
    /*!important Играет роль в том случае когда пользователи подключают свою собственную таблицу стилей*/
    box-shadow: none !important;
    /*Добавляет тень к элементу*/
}

@media (min-width: 300px) {
    .slider .item img {
        width: 350px;
        height: 180px;
    }
}

@media (min-width: 1100px) {
    .slider .item img {
        width: 510px;
        height: 200px;
    }
}

/* Кнопки вперед и назад*/
.slider .prev,
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease; /*Функция по умолчанию, переход начинается медленно, разгоняется быстро и замедляется в конце*/
    /*Позволяет определить переходное состояние между двумя состояниями элемента*/
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.Slider .next:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.slideText {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);/*Сдвигает элемент на новое место, перемещая относительно обычного*/
    text-shadow: 1px 1px 1px #000, 0 0 #000;
    font-family: cursive;
}

.slider-dots {
    text-align: center;
    align-content: center;
}

.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;/*Функция по умолчанию, переход начинается медленно, разгоняется быстро и замедляется в конце*/
}

.active,
.Slider-dots_item:hover {
    background-color: #aaa;
}

.slider.item {
    /* Написанный нами сайт работает во всех браузер, потому что все они поддерживают движки, которые требуются для работы сайта без префиксов. В случае того, если бы браузеры не поддерживали наш сайт из-за того, что нет движков, которые приведены ниже в коде(ms, moz, webkit и о)*/
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;/*анимации затухания*/
    animation-duration: 1.5s;
}

.slider .prev,
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;/*Функция по умолчанию, переход начинается медленно, разгоняется быстро и замедляется в конце*/
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    color: black;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgb(0, 0, 0, 0.8);
}

.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);/*Сдвигает элемент на новое место, перемещая относительно обычного*/
    text-shadow: 1px 1px 1px #000, 0 0 #000;
    font-family: cursive;
}

.Slider-dots {
    text-align: center;
}

.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;/*Функция по умолчанию, переход начинается медленно, разгоняется быстро и замедляется в конце*/
}

.active,
.Slider-dots_item:hover {
    background-color: #aaa;
}

.slider.item {
    animation-name: fade;/*анимации затухания*/
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

* {
    /*Свойства width и height включают в себя значения полей и границ, но не отступов (margin). Эта модель используется браузером Internet Exporer в режиме несовместимости. */
    box-sizing: border-box;
}

.col-3 {
    height: 100%;
    width: 33%;
    margin: 0.5rem;
}

.col-4 {
    height: 100px;
    width: 33.333%;
    margin: 0.5rem;
}

.row {
    display: flex;
    /* Выставление блоков в линию*/
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;/*Флексы равномерно распределяются по всей строке*/
}

.row-3 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;/*Флексы равномерно распределяются по всей строке*/
}

.row-2 {
    margin-top: 70px;
}

.row-4 {
    margin-top: 50px;
}

.tow-5 {
    margin-top: 50px;
}

.row-6 {
    margin-top: 50px;
}

.data3_2 span img {
    width: 50px;
    height: 50px;
}

.required {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 17px;
    margin: 25px 10px 0 1200px;
    background: url(invalid.png) 0 0 no-repeat;/*убирает повторение*/
}

input {
    font-size: 12px;
    border: black solid 2px;
    border-radius: 10px;
}

input[required]:valid + label,
.data3_2 input[required]:valid ~ label {
    background: url(valid.png) 0 0 no-repeat;/*убирает повторение*/
}

.data3_2 input[required]:valid ~ span {
    display: none;
}

b {
    font-size: 40px;
}

@media (min-width: 300px) {
    b {
        flex: 0 0 auto;
        font-size: 15px;
    }
}

@media (min-width: 1100px) {
    b {
        flex: 0 0 auto;
        font-size: 40px;
    }
}

.center {
    text-align: center;
}

/*Вставка кнопки из https://getcssscan.com/css-buttons-examples*/
button {
    align-items: center;
    appearance: none;/*«сброс» внешнего вида элемента*/
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(45, 35, 66, 0.4), 0 7px 13px -3px rgb(45, 35, 66, 0.3), 0 -3px 0 rgb(58, 65, 111, 0.5) inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;/*обрезании скрытых элементов*/
    padding-left: 16px;
    padding-right: 16px;
    position: relative;/*сдвигает элемент относительно его обычного положения*/
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;/*Пользователю запрещено выделять элемент. text*/
    touch-action: manipulation;/*любое касание элемента будет запускать только панорамирование или зум*/
    white-space: nowrap;/*Пробелы не учитываются*/
    will-change: box-shadow, transform;/*сообщить браузеру о своем намерении изменить позицию элемента относительно прокрутки */
    font-size: 18px;
}

button:focus {
    box-shadow: 0 0 0 1.5px #3c4fe0 inset, 0 2px 4px rgb(45, 35, 66, 0.4), 0 7px 13px -3px rgb(45, 35, 66, 0.3), 0 -3px 0 #3c4fe0 inset;
}

button:hover {
    box-shadow: 0 4px 8px rgb(45, 35, 66, 0.4), 0 7px 13px -3px rgb(45, 35, 66, 0.3), 0 -3px 0 #3c4fe0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: 0 3px 7px #3c4fe0 inset;
    transform: translateY(2px);
}

/*Конец стиля кнопки*/
[data-tooltip] {
    position: inherit;/* наследует значение свойства CSS position от родительского элемента.*/
}
/*При наведении на блог в шапке сайта, появляется всплывающая подсказка с текстом */
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 300px;
    left: 0;
    top: 0;
    background: #3663BD;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
    pointer-events: none;/*позволяет управлять тем, как элементы будут реагировать на события мыши или прикосновения к сенсорному экрану*/
    opacity: 0;
    transition: 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 3em;
}
